In [ ]:
# 1. Useing classification technique for prediction of Graduate Admissions from an Indian perspective

In [1]:
import numpy as np
import pandas as pd 
from sklearn.model_selection import train_test_split

In [2]:
data=pd.read_csv("D:\DATA\Graduate Adimission\Admission_Predict.csv")
data.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         400 non-null    int64
 1   GRE Score          400 non-null    int64
 2   TOEFL Score        400 non-null    int64
 3   University Rating  400 non-null    int64
 4   SOP                400 non-null    float64
 5   LOR                400 non-null    float64
 6   CGPA               400 non-null    float64
 7   Research           400 non-null    int64
 8   Chance of Admit    400 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 28.2 KB

In [4]:
data.isnull().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

In [5]:
x_data=data.drop(["Serial No."],axis=1)
#x_data.head()
y=data["Serial No."]
#y_data.head

In [7]:
x=(x_data-np.min(x_data))/(np.max(x_data)-np.min(x_data)).values #Normalize the data
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=0) #split into 70-30 ratio 
#print(x_train,y_train,x_test,y_test)
#print(x_train.shape)
#print(y_train.shape)
print(x_test.shape)
#print(y_test.shape)
z1 = np.dot(np.transpose(x_train),x_train)
z1
z1 = np.linalg.pinv(z1)
z1
z2 = np.dot(np.transpose(x_train),y_train)
z2
beta = np.dot(z1,z2)
beta
print(beta.shape)
y_pred = np.dot(x_test,beta)
print(y_pred)
rss = (np.sum(np.square(y_test - y_pred)))
#print('residual sum of squares is :',rss )
ymean = np.sum(y_test) / len(y_test)
ymean
tss = (np.sum(np.square(y_test - ymean)))
#print(' Total sum of squares is : ',tss)
r2 = 1 - (rss/tss)
print('r_square is:',r2)

(120, 8)
(8,)
[110.89782097 125.94898585 198.97704545 221.56415363 235.66638373
 119.35374416 228.25695967 192.62842755 301.18216357 288.50570227
 191.2661651  182.37195369 230.32072772 133.57194181 193.26911383
  74.88393105 210.17228269 272.84958515 159.5522716  247.47982659
 222.82152356 264.01363557  93.87190365  69.7244511  167.60218959
 152.59678979   4.92322103  62.65924624 159.62041451 174.14641509
 199.85870771 164.42457031 131.73223395 184.0035132   76.74200725
 155.13233823 135.51385158 259.77957077 199.82350915 260.24998236
 148.14101097 274.58316853 171.50659721 183.52869888 303.77072404
 142.06232423  17.80584339 200.32564594 172.44386208 230.71259375
 279.85296504 277.78967747 125.13864101 171.33069961 173.95642632
 163.11709781  20.31428612  71.22439898 107.31656077 160.85527521
 319.41684544 139.81591702 218.61341074 165.80010186 207.2548387
 268.50443919 239.41399942 137.9493874  268.19252628 218.59015325
 237.32351938 139.2204075  216.76292796  27.72291316 271.99724485
  37.95922954 248.14309662 163.31913881 244.35646712  52.82111694
 181.95338982 108.51241577  90.83917554 234.50616936 151.05988814
 173.8999117   76.9483861  179.49796052 239.48531235 242.87047707
 243.74602372 287.55057638  94.74028511 134.35279325 181.55073141
 211.74430343 199.41637943 199.22532027 202.33393429 259.70242957
 154.07536431 106.09143092 206.99115145 178.18375914 220.01112664
 169.01047111 275.17256256 134.81426645 282.8929855  227.46125528
 114.00816189 115.41022095 239.04064595  49.35183235 158.05824576
 265.03586309 224.95994709 139.69415743 226.90423078 201.41820484]
r_square is: -0.015285088348351072